<!DOCTYPE html>
<html>
<head>                                                           <!-- page where user create questions -->
	<title>dashboard</title>
	<link rel='stylesheet' type='text/css' href='/dashboardstyle.css' />
</head>
<body>
	<div class='backimage'>
    <div class="topnav">
	    <span class='you'>Stark<span class='forms'>Forms</span></span>
     </div>

    <div class='fullname'></div>

    		<div class="card2">
		    	<form action='/dashboard/thanks' method='post' >
						<div class='title'>
		    		<input type='text' name='title'  placeholder='Title'><br><br>
					</div>
		    		<textarea type='text' name='description'  placeholder="Description"></textarea> <br><br>
		       		<textarea type='text' name='question1'  placeholder='Question1'></textarea> <br><br>
				    <textarea type='text' name='answer1'  placeholder='Answer1'></textarea> <br><br>
		            <textarea type='text' name='question2'  placeholder='Question2'></textarea> <br><br>
				    <textarea type='text' name='answer2' placeholder='Answer2'></textarea> <br><br>
		       		<textarea type='text' name='question3'  placeholder='Question3'></textarea> <br><br>
				    <textarea type='text' name='answer3'  placeholder='Answer3'></textarea> <br><br>
		       		<textarea type='text' name='question4'  placeholder='Question4'></textarea> <br><br>
				    <textarea type='text' name='answer4'  placeholder='Answer4'></textarea> <br><br>
		            <textarea type='text' name='question5'  placeholder='Question5'></textarea> <br><br>
				    <textarea type='text' name='answer5'  placeholder='Answer5'></textarea> <br><br>
						<button type='Submit'>submit</button>
                 </form>
             </div>
						 <div class='space'>
						 </div>
</div>

</body>
</html>
