<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>                                                          <!-- sign in page to view responses -->
    <meta charset="utf-8">
    <title>sign-In</title>
    <link rel='stylesheet' type='text/css' href='/styles.css' />
  </head>
  <body>
    <div class='backimage'>
    <div class="topnav">
      <span class='you'>Stark<span class='forms'>Forms</span></span>
    </div>


    <div class='row'>
    <div class='column'>
      <div class="card" id='card2'>
          <h2 style='color:white'>Sign-In</h2>
            <form class="signin" action="/frsignin/response1" method="post">
              <input type='email' name='email' placeholder="Email-Id" required><br><br>
              <input type='password' name='password' placeholder='Password' required><br><br>
              <button type='submit' class='button' >Sign-In</button>
              <h5 style='color:white'>By signing in you agree to our terms of<a href=''  style="color:red"> privacy policy </a></h5>
            </form>
        </div>
      </div>
    </div>
    <div class='quote'>
      <h2>What is the point of owning a race car ,if you don't drive it?</h2>
    <h3>  So, yeah here you are.Create your own forms by signing in!</h3>
    </div>

  </div>
  </body>
</html>
