<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/response1/response' method='post'>
      <button>Response</button>
      </form>
  </body>
</html>
