<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>SignIn/signUp</title>
    <link rel='stylesheet' href='/signupstyles.css' type='text/css'/>
  </head>
  <body>
    <div class='backimage'>
    <div class="topnav">
      <span class='you'>Stark<span class='forms'>Forms</span></span>

    </div>

<div class='row'>
  <div class='column'>
    <div class="card" id="card1">                                           <!-- creating a card for sign up -->
        <h2>Sign-Up</h2>
          <form class="signup" action="/signup/dashboard" method="post">
            <input type='text' name='username' placeholder="Username" required><br><br>
            <input type='email' name='email' placeholder='Email' required><br><br>          <!--various input fields for username,email and password -->
            <input type='password' name='password' placeholder='Password' required><br><br>
            <button type='submit' class="button" >Sign-Up</button>
          </form>
      </div>
    </div>
    </div>
<div class='signin-link'>

  <span>If you already have an account then please<a href='signin' style='color:red'> signin </a>here</span>
</div>
</div>
  </body>
</html>
