<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>                                         <!-- creating a view for submit page -->
    Your response is successfully submitted.
  </body>
</html>
