<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks Page</title>
    <link rel='stylesheet' type='text/css' href='/thanksstyle.css' />
  </head>
  <body>
    <div class='image'>
    <div id='div1'>                                                       <!--creating a view for thanks page -->
    <h1>Thank you very much for using STARK-FORMS.</h1>
    </div>
    <div id='div2'>
    <h1>  Your Form is successfully created.</h1>
      </div>
    <div id="div3">
    <h2>  To view your Form click below </h2>
      <form action='/dashboard/thanks/view' method='post'>
        <button type='submit' class='button'>Here</button>
      </form>
    </div>
  </div>


  </body>
</html>
