body{
 background-color:rgba(0,0,0,0.1);
}

.you{
  color:rgba(215,187,43,1.0);
  font-size:32px;
}

.forms{
  color:rgba(148,12,16,1.0);
  font-size:32px;
}

textarea{
  width:400px;
  border:none;
  border-bottom:2px solid red;
  font-size:18px;
}

p{
  font-size:18px;
}

.set{
  padding-left:100px;
}

.title{
  width:50px;
  padding-left:450px;
  padding-top:18px;
}
